<!DOCTYPE html>
<html ng-app="ShoppingCheckOffModule">
    <head>
        <meta charset="utf-8">
        <title>Shopping Check Off</title>
        <script src="./angular.min.js"></script>
        <script src="./app.js"></script>
    </head>

    <body>
    <h1>Check Off List</h1>
        To Buy:
        <div ng-controller="ShoppingToBuyController as shoppingToBuy">
            <ol>
                <li ng-repeat="item in shoppingToBuy.list">
                    Buy {{item.quantity}} {{item.name}}
                    <button ng-click="shoppingToBuy.buy($index)">Buy</button>
                </li>
            </ol>
            <h4 ng-if="shoppingToBuy.list.length === 0">Everything is bought!</h4>
        </div>
        Bought:
        <div ng-controller="ShoppingBoughtController as shoppingBought">
            <ul>
                <li ng-repeat="item in shoppingBought.list">
                    Bought {{item.quantity}} {{item.name}}
                </li>
            </ul>
            <h4 ng-if="shoppingBought.list.length === 0">Nothing bought yet</h4>
        </div>
    </body>
</html>